Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

deploy-controller:
  stage: deploy
  needs:
  - test-controller-regular
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-actuator:
  stage: deploy
  needs:
  - test-actuator-regular
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-webapp:
  stage: deploy
  needs:
  - job: test-webapp-docker
    optional: true
  - job: test-healthz-docker
    optional: true
  - job: test-walk-through
    optional: true
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  ...

deploy-webapp-demo:
  stage: deploy
  needs:
  - job: test-webapp-docker
    optional: true
  - job: test-healthz-docker
    optional: true
  - job: test-walk-through
    optional: true
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  ...

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:36
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix: typo
  Dockerfile
Due: none

chore(deps): update dependency pytest-html to v4
  pyproject.toml
Due: none

fix(deps): update dependency flask to v3
  pyproject.toml
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

fix: リセット処理を追加
  lib/sensor/ltc2874.py
Due: none

fix: センサーが電源OFFの場合，それを表示するようにした
  lib/sensor/fd_q10c.py
Due: none

style: コードを整理
  app/unit_cooler.py
  lib/sensor/fd_q10c.py
Due: deploy-actuator

chore(deps): update dependency pytest-cov to v5
  pyproject.toml
Due: none

fix: bug
  lib/footprint.py
Due: deploy-webapp, deploy-webapp-demo

fix: close し忘れを修正
  lib/sensor/fd_q10c.py
Due: none

style: コードを整理
  lib/actuator.py
  lib/sensor/fd_q10c.py
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update docker docker tag to v26
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to v22
  .gitlab-ci.yml
Due: none

fix: bug
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: ソケットが閉じられないバグを修正
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

style: 整形
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: 依存関係を修正
  .gitlab-ci.yml
Due: none

fix: ソケットが閉じられないバグを修正
  .gitlab-ci.yml
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグコードを追加
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用のコードを追加
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用にアクセスログを出力
  app/webapp.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用コードを追加
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用のログを追加
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用のログを追加
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: エラーメッセージを改善
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: bug
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

fix: bug
  app/webapp.py
  lib/webapp_event.py
  lib/webapp_log_proxy.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix:
  app/webapp.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix
  app/webapp.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix: ソケットが閉じられないバグを修正
  lib/webapp_event.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix
  lib/webapp_event.py
  lib/webapp_log_proxy.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: デバッグ用のログを追加
  lib/webapp_event.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix
  lib/webapp_event.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: デバッグ用のログを削除
  lib/webapp_log_proxy.py
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update all non-major dependencies
  Dockerfile
  pyproject.toml
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update dependency eslint to v9
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json
