Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: Create React App ベースのコードを削除
  react.old/.gitignore
  react.old/README.md
  react.old/package-lock.json
  react.old/package.json
  react.old/public/favicon.ico
  react.old/public/index.html
  react.old/public/logo192.png
  react.old/public/logo512.png
  react.old/public/manifest.json
  react.old/public/robots.txt
  react.old/public/wall.png
  react.old/src/App.css
  react.old/src/App.js
  react.old/src/App.test.js
  react.old/src/components/AirConditioner/AirConditioner.js
  react.old/src/components/CoolingMode/CoolingMode.js
  react.old/src/components/Log/Log.js
  react.old/src/components/Sensor/Sensor.js
  react.old/src/components/Watering/Watering.js
  react.old/src/img/watering.png
  react.old/src/index.css
  react.old/src/index.js
  react.old/src/lib/util.js
  react.old/src/logo.svg
  react.old/src/reportWebVitals.js
  react.old/src/setupTests.js
Due: none

fix: typo
  .gitlab-ci.yml
Due: none

fix: master 以外ではテスト結果を更新しない
  .github/workflows/regression.yaml
Due: none

fix: typo
  .github/workflows/regression.yaml
Due: none

fix: 画像を追加
  react/public/logo512.png
Due: deploy-webapp, deploy-webapp-demo

style: 整形
  .coveragerc
  .gitlab-ci.yml
  README.md
  kubernetes/outdoor_unit_cooler.yml
  react/.eslintrc.cjs
  react/index.html
  react/package-lock.json
  react/package.json
  react/src/App.tsx
  react/src/components/AirConditioner.tsx
  react/src/components/CoolingMode.tsx
  react/src/components/Log.tsx
  react/src/components/Sensor.tsx
  react/src/components/Watering.tsx
  react/src/index.css
  react/src/lib/ApiResponse.tsx
  react/src/lib/Util.tsx
  react/src/main.tsx
  react/tsconfig.json
  react/tsconfig.node.json
  react/vite.config.ts
Due: deploy-webapp, deploy-webapp-demo

style: コードを整理
  app/unit_cooler.py
  app/webapp.py
  lib/unit_cooler_info.py
  tests/test_basic.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: bug
  react/public/manifest.json
  src/healthz.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: コードを整理
  src/healthz.py
Due: deploy-controller, deploy-actuator

fix: master ブランチでのみ renovate を実行
  .gitlab-ci.yml
Due: none

fix: コードを整理
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テスト時のエラーメッセージをわかりやすくした
  tests/test_basic.py
Due: none

fix: ローカルの Docker イメージを renovate の対象外にした
  renovate.json
Due: renovate

fix: ライブラリを更新
  lib/sensor/fd_q10c.py
Due: none

fix: ncu -u を適用
  react/package-lock.json
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

fix: ログを抑制
  lib/actuator.py
Due: deploy-webapp, deploy-webapp-demo

fix: ライブラリを更新
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: 状態管理に関するファイル操作をライブラリ化
  lib/footprint.py
  lib/notify_slack.py
  lib/valve.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: 不要なファイルをコンテナに含めないようにした
  .dockerignore
Due: none

fix: バルブの故障判定の方法を変更
  lib/actuator.py
Due: deploy-webapp, deploy-webapp-demo

fix: 流量計の電源を入れる必要が無い場合は入れないようにした
  lib/actuator.py
Due: deploy-webapp, deploy-webapp-demo

fix: テストを修正
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

fix: ログ格納ディレクトリを掘るようにした
  lib/webapp_log.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix
  .gitlab-ci.yml
Due: none

fix: イメージを軽量化
  Dockerfile
Due: none

fix: bug
  Dockerfile
Due: none

fix(deps): update dependency pytest-playwright to ^0.4.0
  pyproject.toml
Due: none

chore(deps): update registry.green-rabbit.net:5000/kimata/local_renovate docker tag to v36
  .gitlab-ci.yml
Due: none

style: pyproject.toml に設定を集約し，整形
  .coveragerc
  .prettierrc.yaml
  app/cooler_controller.py
  app/unit_cooler.py
  app/webapp.py
  lib/actuator.py
  lib/aircon.py
  lib/control.py
  lib/control_config.py
  lib/control_pubsub.py
  lib/logger.py
  lib/notify_slack.py
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
  lib/sensor_data.py
  lib/valve.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  lib/webapp_util.py
  pyproject.toml
  pytest.ini
  react/.eslintrc.cjs
  react/index.html
  react/src/App.tsx
  react/src/components/Watering.tsx
  src/healthz.py
  tests/conftest.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: typo
  pyproject.toml
Due: none

fix: 使用ライブラリを更新
  pyproject.toml
Due: none

fix: Pytest の実行方法を変更
  .gitlab-ci.yml
Due: none

fix: 使用するイメージを変更
  .gitlab-ci.yml
Due: none

fix: bug
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: 動作が不安定なチェックを削除
  tests/test_basic.py
Due: none

fix: テスト時のログを抑制
  tests/test_basic.py
Due: none

fix: テストの安定度を改善
  tests/test_basic.py
Due: none
