Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator

deploy-controller:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-controller

deploy-actuator:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-actuator

fix: デフォルト値の指定を削除
  .pre-commit-config.yaml
Due: none

fix: 定期実行したくないものを指定
  .gitlab-ci.yml
Due: none

fix: 不要な設定を削除
  renovate.json
Due: none

fix: レジストリに HTTP アクセスするように設定
  .gitlab-ci.yml
  renovate.json
Due: none

fix: typo
  renovate.json
Due: none

fix: 不要な記述を削除
  .gitlab-ci.yml
Due: none

fix: バージョンをあげた
  .gitlab-ci.yml
Due: none

fix: 自動実行ではデプロイしないようにした
  .gitlab-ci.yml
Due: none

fix: GitLab CI デバッグ
  .gitlab-ci.yml
Due: none

fix: センサーデータが取得できない場合に例外を出さずに通知するようにした
  app/cooler_controller.py
  lib/aircon.py
Due: deploy-controller

fix: 自動実行ではデプロイしない
  .gitlab-ci.yml
Due: none

fix: typo
  app/unit_cooler.py
Due: deploy-actuator

fix: code
  .gitlab-ci.yml
  app/cooler_controller.py
  app/unit_cooler.py
  lib/valve.py
  src/healthz.py
Due: deploy-controller, deploy-actuator

fix: bug
  lib/valve.py
Due: none

fix: Web UI の作成開始
  lib/webapp_base.py
  lib/webapp_config.py
  lib/webapp_event.py
  lib/webapp_log.py
  lib/webapp_util.py
Due: none

fix: 温度閾値を変更
  app/cooler_controller.py
Due: deploy-controller

fix: add gitignore
  react/.gitignore
Due: none

fix: gitignore
  react/.gitignore
Due: none

fix: Web UI の作成開始
  react/package-lock.json
  react/package.json
  react/unit_cooler/README.md
  react/unit_cooler/package-lock.json
  react/unit_cooler/package.json
  react/unit_cooler/public/favicon.ico
  react/unit_cooler/public/index.html
  react/unit_cooler/public/logo192.png
  react/unit_cooler/public/logo512.png
  react/unit_cooler/public/manifest.json
  react/unit_cooler/public/robots.txt
  react/unit_cooler/src/App.css
  react/unit_cooler/src/App.js
  react/unit_cooler/src/App.test.js
  react/unit_cooler/src/img/watering.png
  react/unit_cooler/src/index.css
  react/unit_cooler/src/index.js
  react/unit_cooler/src/logo.svg
  react/unit_cooler/src/reportWebVitals.js
  react/unit_cooler/src/setupTests.js
Due: none

fix: ディレクトリ構成を変更
  react/README.md
  react/package-lock.json
  react/package.json
  react/public/favicon.ico
  react/public/index.html
  react/public/logo192.png
  react/public/logo512.png
  react/public/manifest.json
  react/public/robots.txt
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/img/watering.png
  react/src/index.css
  react/src/index.js
  react/src/logo.svg
  react/src/reportWebVitals.js
  react/src/setupTests.js
  react/unit_cooler/package-lock.json
  react/unit_cooler/package.json
Due: none

fix: ライブラリを更新
  react/package-lock.json
  react/package.json
Due: none

fix: コードを整理
  app/cooler_controller.py
  lib/control_config.py
  lib/flask_util.py
  lib/unit_cooler_info.py
  lib/webapp_config.py
Due: deploy-controller

feat: コントローラとアクチュエータの間に Last Value Caching を導入
  app/cooler_controller.py
  lib/control_pubsub.py
Due: deploy-controller

fix: Web UI に向けたコードの整理
  app/cooler_controller.py
  lib/control_config.py
  lib/control_pubsub.py
  lib/unit_cooler_info.py
Due: deploy-controller

fix: typo
  lib/control_config.py
Due: none

fix: コードを整理
  app/cooler_controller.py
  lib/unit_cooler_info.py
Due: deploy-controller

fix: bug
  app/cooler_controller.py
Due: deploy-controller

fix: bug
  lib/webapp_log.py
Due: none

fix: Access-Control-Allow-Origin をセット
  lib/flask_util.py
  lib/unit_cooler_info.py
Due: none

fix: Access-Control-Allow-Origin のセットの仕方を変更
  lib/flask_util.py
  lib/unit_cooler_info.py
Due: none

fix: CI が終わるようにした
  lib/control_pubsub.py
Due: deploy-controller

fix: bug
  lib/control_pubsub.py
Due: deploy-controller

feat: Web UI がひとまず完成
  lib/unit_cooler_info.py
  react/package-lock.json
  react/package.json
  react/src/App.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
  react/src/components/Sensor/Sensor.js
  react/src/components/Watering/Watering.js
  react/src/lib/util.js
Due: none

fix: コードを整理
  app/cooler_controller.py
  lib/control_pubsub.py
  lib/unit_cooler_info.py
Due: deploy-controller

fix: レイアウトを微調整 & 自動更新機能追加
  app/webapp.py
  react/src/App.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/Sensor/Sensor.js
  react/src/index.css
Due: none

fix: 警告に対処
  react/package-lock.json
  react/package.json
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
Due: none

fix: エラーメッセージの表示に対応
  react/src/App.js
Due: none

fix: CI が終わらない問題を修正
  lib/control_pubsub.py
Due: deploy-controller

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py
  deploy-actuator: any of: app/unit_cooler.py, app/aircon.py, app/config.py, app/control_pubsub.py, app/fd_q10c.py, app/io_link.py, app/logger.py, app/ltc2874.py, app/notify_slack.py, app/sensor_data.py, app/valve.py
