Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator

deploy-controller:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-controller

deploy-actuator:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-actuator

fix: ログメッセージを変更
  app/cooler_controller.py
Due: deploy-controller

fix: デプロイの条件を変更
  .gitlab-ci.yml
Due: none

fix: Liveness の閾値を変更
  src/healthz.py
Due: none

fix: ログメッセージを追加
  app/cooler_controller.py
Due: deploy-controller

fix: 制御メッセージにモードを追加
  app/cooler_controller.py
Due: deploy-controller

fix: Duty 制御の方法を改善 (Duty 比が変わった場合も，良い感じに移行)
  lib/valve.py
Due: none

fix: ラベルを変更
  app/cooler_controller.py
Due: deploy-controller

fix: 冷却モードも Fluentd で送信するようにした
  app/unit_cooler.py
Due: deploy-actuator

fix: モニター間隔を短縮
  config.example.yaml
Due: none

fix: RuntimeError 以外でもロックを解放できるようにした
  lib/fd_q10c.py
Due: none

fix: コードを整理
  app/cooler_controller.py
Due: deploy-controller

fix: typo
  .gitlab-ci.yml
Due: none

fix: 動作開始前のウェイトを追加
  app/unit_cooler.py
Due: deploy-actuator

fix: flow が None の時にログ出力しないようにした
  app/unit_cooler.py
Due: deploy-actuator

fix: ログフォーマットを修正
  app/unit_cooler.py
Due: deploy-actuator

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: コードを整理
  app/unit_cooler.py
Due: deploy-actuator

fix: バルブが閉じてから時間が経過すると電磁弁の故障を誤検出する問題を修正
  app/unit_cooler.py
Due: deploy-actuator

fix: ファイルディスクリプタを解放するようにした
  lib/fd_q10c.py
Due: none

fix: ライブラリを更新
  lib/sensor_data.py
Due: deploy-controller

fix: 湿度閾値を変更
  app/cooler_controller.py
Due: deploy-controller

fix: 閾値を変更
  app/cooler_controller.py
Due: deploy-controller

fix: 使用するクラスを変更
  app/unit_cooler.py
Due: deploy-actuator

feat: コマンドの受信機能の監視を追加
  app/unit_cooler.py
  src/healthz.py
Due: deploy-actuator

fix: コードに合わせて設定を追加
  config.example.yaml
Due: none

feat: renovate を設定
  .gitlab-ci.yml
  renovate.json
Due: none

fix: ローカルのルート証明書を仕込んだイメージを使うようにした
  .gitlab-ci.yml
Due: none

fix: ローカルリポジトリの設定を追加
  renovate.json
Due: none

fix: 実行条件を追加
  .gitlab-ci.yml
Due: none

fix: JSON のチェックを追加
  .pre-commit-config.yaml
Due: none

fix: typo
  renovate.json
Due: none

fix: JSON の整形を追加
  .pre-commit-config.yaml
Due: none

style: 整形
  .gitlab-ci.yml
  config.example.yaml
  cron/unit_cooler
  install.sh
  renovate.json
  script/buildkitd.toml
  script/registry_pull.zsh
  script/registry_push.zsh
Due: none

fix: オプションを追加
  .pre-commit-config.yaml
Due: none

style: 整形
  renovate.json
Due: none

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py
  deploy-actuator: any of: app/unit_cooler.py, app/aircon.py, app/config.py, app/control_pubsub.py, app/fd_q10c.py, app/io_link.py, app/logger.py, app/ltc2874.py, app/notify_slack.py, app/sensor_data.py, app/valve.py
