Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

deploy-controller:
  stage: deploy
  needs:
  - test-controller-regular
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-actuator:
  stage: deploy
  needs:
  - test-actuator-regular
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-webapp:
  stage: deploy
  needs:
  - job: test-webapp-docker
    optional: true
  - job: test-healthz-docker
    optional: true
  - job: test-walk-through
    optional: true
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  ...

deploy-webapp-demo:
  stage: deploy
  needs:
  - job: test-webapp-docker
    optional: true
  - job: test-healthz-docker
    optional: true
  - job: test-walk-through
    optional: true
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  ...

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:36
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix
  .python-version
Due: none

fix: コードを整理
  .gitignore
  app/unit_cooler.py
  app/webapp.py
  config.schema
  lib/unit_cooler_info.py
  lib/webapp_log_proxy.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

style: 整形
  react/.eslintrc.cjs
  react/src/App.css
  react/src/index.css
Due: deploy-webapp, deploy-webapp-demo

fix: コードを整理
  .github/workflows/regression.yaml
  .gitignore
  .gitlab-ci.yml
  config.example.yaml
  docker-compose.yml
  kubernetes/outdoor_unit_cooler.yml
  lib/actuator.py
  pyproject.toml
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/log_server.py
  src/unit_cooler/actuator/monitor.py
  src/unit_cooler/actuator/sensor.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/webui/worker.py
  src/webui.py
  tests/conftest.py
  tests/test_basic.py
  tests/test_playwright.py
Due: deploy-webapp, deploy-webapp-demo

fix: コードを整理
  .gitlab-ci.yml
  Dockerfile
  config.example.yaml
  pyproject.toml
  src/webui.py
  tests/test_basic.py
Due: none

fix
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
Due: none

fix
  tests/test_basic.py
Due: none

debug
  tests/test_basic.py
Due: none

fix: テストが共づれで失敗するのを防止
  tests/test_basic.py
Due: none

fix: テストのバグを修正
  pyproject.toml
  tests/test_basic.py
Due: none

fix: bug
  src/unit_cooler/actuator/valve.py
Due: none

fix: センサーデータが取得できないだけで異常終了してしまうのを防止
  src/unit_cooler/controller/sensor.py
Due: none

fix: エラーメッセージ出力を強化
  src/actuator.py
  src/unit_cooler/actuator/worker.py
Due: none

fix: bug
  src/unit_cooler/controller/sensor.py
Due: none

fix
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

add: docker compose 用の設定ファイル
  compose.yaml
  docker-compose.yml
Due: none

doc: コードに合わせて更新
  README.md
Due: none

fix
  kubernetes/outdoor_unit_cooler.yml
Due: none

fix: ログサーバは先に立ち上げるように変更
  src/actuator.py
Due: none

fix: 元に戻した
  src/actuator.py
Due: none

fix: ログサーバーの開始終了タイミングを修正
  src/actuator.py
Due: none

fix: ライブラリを更新
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

fix: 不要なログを削除
  src/unit_cooler/actuator/monitor.py
Due: none

fix
  react/src/components/Sensor.tsx
Due: deploy-webapp, deploy-webapp-demo

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json
