Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: カバレッジテストを追加
  .gitlab-ci.yml
Due: none

fix: pyproject.toml に設定を集約
  .github/workflows/regression.yaml
Due: none

fix: CI レシピを見直し
  .github/workflows/regression.yaml
  .gitlab-ci.yml
Due: none

fix: タイムゾーンを指定
  app/unit_cooler.py
  lib/sensor_data.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テストの安定度を改善させる試み
  tests/test_basic.py
Due: none

fix: テストのバグを修正
  lib/sensor/fd_q10c.py
  lib/valve.py
  tests/test_basic.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テストを改善
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: bug
  tests/test_basic.py
Due: none

fix: テストの安定度を強化
  tests/test_basic.py
Due: none

fix: テストがブロックする問題を修正
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: デッドロックしたので元に戻した
  lib/notify_slack.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: コードを整理
  lib/actuator.py
  lib/work_log.py
  tests/test_basic.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: bug
  app/unit_cooler.py
  tests/test_basic.py
Due: deploy-actuator

fix: 過去の散水量を表示する準備
  lib/unit_cooler_info.py
  react/src/App.tsx
  react/src/components/Watering.tsx
  react/src/lib/ApiResponse.tsx
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update all non-major dependencies
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

fix: テストの安定度を改善
  pyproject.toml
  tests/test_basic.py
Due: none

fix: テスト時に出力するログレベルを変更
  pyproject.toml
Due: none

fix: テスト時のログフォーマットを変更
  pyproject.toml
Due: none

fix: テスト時のログの日付形式を変更
  pyproject.toml
Due: none

fix: Poetry のキャッシュを設定
  .gitlab-ci.yml
Due: none

fix: Live log の出力をやめた
  pyproject.toml
Due: none

fix: docopt の警告を抑制
  pyproject.toml
Due: none

fix: 過去の散水量を出力
  lib/sensor_data.py
  lib/unit_cooler_info.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: CORS の設定を変更
  app/webapp.py
  react/src/App.tsx
  react/src/components/History.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: build エラーが出ないようにした
  react/src/components/History.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: bug
  app/webapp.py
Due: deploy-webapp, deploy-webapp-demo

fix: テスト用のコードをコメントアウト
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: 不要な URL prefix を削除
  react/index.html
  react/src/App.css
Due: deploy-webapp, deploy-webapp-demo

feat: 過去一週間の散水量のグラフを追加
  react/package-lock.json
  react/package.json
  react/src/App.css
  react/src/App.tsx
  react/src/components/History.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: テストの安定度を改善
  tests/test_basic.py
Due: none

fix: テストにタイムアウトを設定
  pyproject.toml
Due: none

fix: ジョブの名前を変更
  .gitlab-ci.yml
Due: none

fix: isort を実行するようにした
  .pre-commit-config.yaml
  pyproject.toml
Due: none

style: isort を適用
  lib/actuator.py
  lib/aircon.py
  lib/config.py
  lib/control.py
  lib/control_config.py
  lib/control_pubsub.py
  lib/flask_util.py
  lib/logger.py
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
  lib/unit_cooler_info.py
  lib/valve.py
  lib/webapp_base.py
  lib/webapp_event.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  lib/webapp_util.py
  lib/work_log.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

style: isort を適用
  app/cooler_controller.py
  app/webapp.py
  src/healthz.py
  tests/test_basic.py
  tests/test_playwright.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

style: isort を適用
  .pre-commit-config.yaml
  app/unit_cooler.py
Due: deploy-actuator

style: isort を適用
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: テストを追加
  react/src/components/History.tsx
  tests/test_playwright.py
Due: deploy-webapp, deploy-webapp-demo

fix: コードを整理
  lib/sensor_data.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo
