Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: ログ保存を追加
  .gitlab-ci.yml
Due: none

fix: コードを整理
  app/unit_cooler.py
  lib/webapp_log_proxy.py
Due: deploy-actuator, deploy-webapp

fix: ログにアイコンを設定
  react/package-lock.json
  react/package.json
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: 微修正
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: レイアウトを微修正
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: 着色のテスト
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: 色を変更
  react/src/components/Log/Log.js
Due: deploy-webapp

style: 色を変更
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: typo
  react/src/components/Log/Log.js
Due: deploy-webapp

style: マージンを広げた
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: 夜間でも暑い場合は冷却を継続するようにした
  lib/control_config.py
  lib/flask_util.py
Due: deploy-webapp

fix: 小数点以下第一位で丸めるようにした
  react/src/components/Watering/Watering.js
Due: deploy-webapp

fix: typo
  lib/control_config.py
Due: deploy-webapp

fix: 依存関係を修正
  .gitlab-ci.yml
Due: none

style: 単位の表記を変更
  react/src/components/Sensor/Sensor.js
Due: deploy-webapp

style: 単位の表示を改善
  react/src/components/Sensor/Sensor.js
Due: deploy-webapp

fix: パッケージを追加
  react/package-lock.json
  react/package.json
Due: deploy-webapp

fix: 更新できるようにした
  react/public/manifest.json
Due: deploy-webapp

fix: タイトルを変更
  react/public/manifest.json
Due: deploy-webapp

fix: タイトルを変更
  react/public/index.html
Due: deploy-webapp

fix: アニメーションをつけてみた
  react/package-lock.json
  react/package.json
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: アニメーション上手くいかなかったので削除
  react/package-lock.json
  react/package.json
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: コードを整理
  app/cooler_controller.py
  app/unit_cooler.py
  lib/control.py
  lib/work_log.py
Due: deploy-controller, deploy-actuator, deploy-webapp

fix: エラー時の通知を抑制
  app/unit_cooler.py
Due: deploy-actuator

fix: ライブラリを更新
  lib/flask_util.py
Due: deploy-webapp

fix: デフォルトのエラー通知間隔を変更
  lib/notify_slack.py
  lib/work_log.py
Due: deploy-controller, deploy-actuator, deploy-webapp

fix: SQL で並び替えるようにした
  lib/webapp_log.py
Due: deploy-webapp

fix: 最大件数を変更
  lib/webapp_log.py
Due: deploy-webapp

fix: ログ出力を改善
  app/unit_cooler.py
Due: deploy-actuator

fix: 見出しを変更
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: コードを整理
  react/src/App.js
Due: deploy-webapp

fix: コードを整理
  lib/webapp_base.py
  lib/webapp_config.py
Due: deploy-webapp

fix: 温度閾値を変更
  lib/control_config.py
Due: deploy-webapp

fix: 言語を変更
  react/public/index.html
Due: deploy-webapp

fix: テスト時の解像度を変更
  test/conftest.py
  test/test_basic.py
Due: none

fix: ログの順序を守らせるため，記録をシングルスレッドにした
  lib/webapp_log.py
Due: deploy-webapp

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: bug
  lib/webapp_log.py
Due: deploy-webapp
