Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: ログサーバを EventStream に対応させた
  app/unit_cooler.py
Due: deploy-actuator

fix: EventStream の中継に対応
  app/webapp.py
  lib/webapp_log_proxy.py
  requirements.txt
Due: deploy-webapp

fix: ログ更新をイベントベースにした
  react/src/App.js
Due: deploy-webapp

fix: typo
  react/src/App.js
Due: deploy-webapp

fix: bug
  react/src/App.js
Due: deploy-webapp

fix: 依存関係を修正
  .gitlab-ci.yml
Due: none

fix: 不要なコンテナの削除処理を追加
  .gitlab-ci.yml
Due: none

fix: ログを追加
  react/src/App.js
Due: deploy-webapp

fix: Nginx のバッファリングを停止
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: 不要な記述を削除
  lib/unit_cooler_info.py
  lib/webapp_base.py
Due: deploy-webapp

fix: Nginx のバッファリング防止
  lib/webapp_event.py
Due: deploy-webapp

fix: キャッシュ期間を1日に変更
  lib/flask_util.py
Due: deploy-webapp

fix: bug
  lib/webapp_log.py
Due: deploy-webapp

fix: ログ更新のイベントを Queue 経由で Web サーバーに伝えるようにした
  app/unit_cooler.py
  lib/webapp_event.py
  lib/work_log.py
Due: deploy-actuator, deploy-webapp

fix: bug
  lib/webapp_event.py
Due: deploy-webapp

fix: デバッグ用のコードを仕込んだ
  react/src/App.js
Due: deploy-webapp

fix: デバッグ用のコードを追加
  lib/webapp_log.py
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: デバッグ用のコードを追加
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: ログ監視のスレッドを終了させるようにした
  app/unit_cooler.py
  lib/webapp_event.py
Due: deploy-actuator, deploy-webapp

fix: デバッグ用にアクセスログを有効化
  app/unit_cooler.py
Due: deploy-actuator

fix: bug
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: 暫定処置
  react/src/App.js
Due: deploy-webapp

fix: EventStream のリバースプロキシのバグを修正
  app/unit_cooler.py
  lib/webapp_event.py
  lib/webapp_log_proxy.py
  requirements.txt
Due: deploy-actuator, deploy-webapp

fix: bug
  app/webapp.py
  lib/webapp_event.py
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: ログに関し，基本的に Event Stream ベースでのみ更新するようにした
  react/src/App.js
Due: deploy-webapp

fix: 更新間隔を少し短くした
  react/src/App.js
Due: deploy-webapp

fix: デバッグ用のコードを削除
  lib/webapp_event.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  lib/work_log.py
Due: deploy-webapp

fix: 安定動作のため，待ち時間を増やした
  .gitlab-ci.yml
Due: none

fix: GitLab CI デバッグ
  .gitlab-ci.yml
Due: none

fix: なるべくログを保存するようにした
  .gitlab-ci.yml
Due: none

fix: bug
  .gitlab-ci.yml
Due: none

fix: Playwright の録画を保存するようにした
  .gitlab-ci.yml
Due: none

fix: エラーが表示されるようにした
  .gitlab-ci.yml
Due: none
