Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, renovate

deploy-controller:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-controller

deploy-actuator:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-actuator

deploy-webapp:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-webapp

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:35
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix: GitLab CI テスト
  .gitlab-ci.yml
  Dockerfile
Due: none

fix: GitLab CI テスト
  .gitlab-ci.yml
Due: none

fix: GitLab CI デバッグ
  .gitlab-ci.yml
Due: none

fix: typo
  .gitlab-ci.yml
Due: none

fix: Playwright のテストの際，ポートを指定できるようにした
  .gitlab-ci.yml
  test/conftest.py
  test/test_basic.py
Due: none

fix: bug
  test/test_basic.py
Due: none

fix: bug
  .gitlab-ci.yml
Due: none

fix: 時間閾値を変更
  .gitlab-ci.yml
Due: none

fix: 古いコンテナを削除
  .gitlab-ci.yml
Due: none

fix: publish をやめてみた
  .gitlab-ci.yml
Due: none

fix: 掃除でエラーにならないようにした
  .gitlab-ci.yml
Due: none

fix: Git:ab CI デバッグ完了
  .gitlab-ci.yml
Due: none

fix: テストを録画
  test/conftest.py
Due: none

fix: 日付のフォーマットを変更
  react/src/lib/util.js
Due: deploy-webapp

fix: ビルド日時を表示
  react/package-lock.json
  react/package.json
  react/src/App.js
Due: deploy-webapp

fix: bug
  react/src/App.js
Due: deploy-webapp

fix: 水道料金を表示
  react/src/components/Watering/Watering.js
Due: deploy-webapp

fix: 水道料金を表示
  config.example.yaml
  lib/unit_cooler_info.py
  test/evidence/.gitkeep
  test/test_basic.py
Due: deploy-webapp

fix: レイアウトを微調整
  react/src/components/Watering/Watering.js
Due: deploy-webapp

fix: 依存関係を指定
  .gitlab-ci.yml
Due: none

fix: エラーメッセージを詳細化
  app/unit_cooler.py
  config.example.yaml
Due: deploy-actuator

fix: 動作ログ導入に向けた準備
  app/unit_cooler.py
  lib/valve.py
  lib/work_log.py
Due: deploy-actuator, deploy-webapp

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: ライブラリを更新
  lib/webapp_log.py
  lib/work_log.py
Due: deploy-webapp

fix: 作動ログの準備
  app/unit_cooler.py
  lib/webapp_config.py
  lib/work_log.py
Due: deploy-actuator, deploy-webapp

style: コードを整理
  react/src/App.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
  react/src/components/Sensor/Sensor.js
  react/src/components/Watering/Watering.js
Due: deploy-webapp

feat: ログ表示に対応
  react/package-lock.json
  react/package.json
  react/src/App.css
  react/src/App.js
  react/src/components/Log/Log.js
Due: deploy-webapp

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json
