Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

chore(deps): update dependency vite to v5
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update typescript-eslint monorepo to v7
  react/package-lock.json
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

fix: 流量を取得している間にバルブの状態が変わった場合に誤判定するバグを修正
  app/unit_cooler.py
  lib/actuator.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: bug
  src/healthz.py
Due: deploy-controller, deploy-actuator

style: 整形
  lib/webapp_event.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: SPI だけ閉じれば良いのにデバイスをリセットしていたバグを修正
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
Due: none

fix: bug
  lib/sensor/ltc2874.py
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update dependency eslint to v9
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

chore(deps): update docker docker tag to v27
  .gitlab-ci.yml
Due: none

fix(deps): update dependency psutil to v6
  pyproject.toml
Due: none

fix: ログを追加
  lib/sensor/ltc2874.py
Due: none

fix: ライブラリのディレクトリ構成変更に追従
  .gitlab-ci.yml
Due: none

fix: 少し水量を減らした
  lib/control_config.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: 水量を減らした
  lib/control_config.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: エラー発生時は一旦センサーを止める
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
Due: none

fix: bug
  lib/sensor/fd_q10c.py
Due: none

fix: ログメッセージを強化
  lib/actuator.py
Due: deploy-webapp, deploy-webapp-demo

fix: テストの安定性を改善
  .gitlab-ci.yml
Due: none

fix: 閾値を変更
  lib/aircon.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix(deps): update dependency flask-cors to v5
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
Due: none

chore(deps): update dependency pytest-cov to v6
  pyproject.toml
Due: none

chore(deps): update react monorepo
  react/package.json
Due: deploy-webapp, deploy-webapp-demo

doc: 修正
  README.md
Due: none

fix: コードを整理
  lib/actuator.py
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix: テストのバグを修正
  tests/test_basic.py
Due: none

style: 記述順を整理
  pyproject.toml
Due: none

fix: 更新
  .pre-commit-config.yaml
Due: none

fix: リファクタリング開始
  lib/aircon.py
  lib/config.py
  lib/flask_util.py
  lib/footprint.py
  lib/logger.py
  lib/notify_slack.py
  lib/sensor/fd_q10c.py
  lib/sensor/io_link.py
  lib/sensor/ltc2874.py
  lib/sensor_data.py
  lib/webapp_base.py
  lib/webapp_config.py
  lib/webapp_event.py
  lib/webapp_log.py
  lib/webapp_util.py
  src/cooler_controller.py
  src/unit_cooler/control/config.py
  src/unit_cooler/control/engine.py
  src/unit_cooler/control/pubsub.py
  src/unit_cooler/control/sensor.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

style: 整形
  .github/workflows/regression.yaml
  .gitlab-ci.yml
  config.example.yaml
  docker-compose.yml
  kubernetes/outdoor_unit_cooler.yml
Due: none

fix: Rye に移行
  pyproject.toml
Due: none

fix: 一時的に Ruff を無効化
  .pre-commit-config.yaml
Due: none

fix: リファクタリング
  .prettierrc.yaml
  lib/valve_state.py
  src/unit_cooler/actuator/valve.py
  src/unit_cooler/actuator/work_log.py
  src/unit_cooler/const.py
  src/unit_cooler/control/config.py
  src/unit_cooler/control/engine.py
  src/unit_cooler/control/message.py
  src/unit_cooler/control/publish.py
  src/unit_cooler/control/pubsub.py
  src/unit_cooler/control/sensor.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング
  src/actuator.py
  src/controller.py
  src/cooler_controller.py
  src/healthz.py
  src/unit_cooler/actuator/control.py
  src/unit_cooler/actuator/log_server.py
  src/unit_cooler/actuator/monitor.py
  src/unit_cooler/actuator/sensor.py
  src/unit_cooler/actuator/subscribe.py
  src/unit_cooler/actuator/valve.py
  src/unit_cooler/actuator/work_log.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/control/engine.py
  src/unit_cooler/control/publish.py
  src/unit_cooler/util.py
  src/webapp.py
Due: deploy-controller, deploy-actuator

fix: コードを整理
  .pre-commit-config.yaml
Due: none

fix: リファクタリング
  src/actuator.py
  src/controller.py
  src/healthz.py
  src/unit_cooler/actuator/log_server.py
  src/unit_cooler/actuator/worker.py
  src/unit_cooler/controller/engine.py
  src/unit_cooler/controller/message.py
  src/unit_cooler/controller/sensor.py
  src/unit_cooler/pubsub/publish.py
  src/unit_cooler/pubsub/subscribe.py
  src/unit_cooler/util.py
  src/unit_cooler/webui/cooler_stat.py
  src/unit_cooler/webui/worker.py
  src/webui.py
Due: deploy-controller, deploy-actuator
