Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: security-python, security-docker, build-react, renovate

security-python:
  stage: security
  image: python:3.12-alpine
  script:
  - pip install safety bandit
  - rye sync
  - safety check --json || true
  - bandit -r src/ -f json -o bandit-report.json || true
  artifacts:
    reports:
      sast: bandit-report.json
    expire_in: 1 week

security-docker:
  stage: security
  image: docker:stable
  services:
  - docker:dind
  script:
  - docker run --rm -v "$PWD":/app -w /app hadolint/hadolint hadolint Dockerfile

build-react:
  stage: build-webapp
  image: node:24-alpine
  script:
  - cd react
  - npm ci --cache .npm --prefer-offline
  - npm run build
  artifacts:
    paths:
    - react/dist
    expire_in: 1 hour
  cache:
    key: react-${CI_COMMIT_REF_SLUG}
    paths:
    - react/node_modules/
    - .npm/

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:36
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

doc: README.mdをモダンなスタイルに刷新
  README.md
Due: none

fix
  README.md
Due: none

fix
  LICENSE
  README.md
Due: none

refactor: GitLab CI設定をextendsベースの構成に刷新
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
  README.md
Due: none

fix
  .gitlab-ci.yml
Due: none

fix
  uv.lock
Due: none

fix
  pyproject.toml
Due: none

fix
  .github/workflows/lint.yaml
  .github/workflows/security.yaml
Due: none

fix
  .github/workflows/regression.yaml
Due: none

fix
  .github/workflows/regression.yaml
  .gitlab-ci.yml
  pyproject.toml
Due: none

fix: test_webui_dummy_modeの並列実行時タイムアウト問題を修正
  .gitlab-ci.yml
  tests/test_basic.py
Due: security-python

fix: pytestのタイムアウト時間を300秒に延長
  pyproject.toml
  tests/test_basic.py
Due: security-python

fix: テスト並列実行時のポート競合問題を修正
  tests/test_basic.py
Due: security-python

fix
  tests/test_error_handling.py
Due: security-python

fix
  Dockerfile
  pyproject.toml
Due: security-docker

fix: マルチアーキテクチャ対応のlatestタグ作成に修正
  .gitlab-ci.yml
Due: none

fix
  tests/test_basic.py
Due: security-python

refactor: extract common test patterns into reusable fixtures
  tests/test_basic.py
Due: security-python

refactor: テストヘルパー関数を活用してtest_basic.pyを大幅に簡略化
  tests/test_basic.py
  tests/test_helpers.py
Due: security-python

fix: テスト失敗の修正 - フィクスチャ名とmsg_count設定を適切に調整
  tests/test_basic.py
Due: security-python

fix: test_actuator_fd_q10c_get_state_errorの期待値とタイミングを適正化
  tests/test_basic.py
Due: security-python

fix: test_webui_dummy_modeタイムアウト問題を解決
  tests/test_basic.py
Due: security-python

fix: 5つのテスト失敗を修正
  tests/test_basic.py
  tests/test_helpers.py
Due: security-python

fix
  .gitlab-ci.yml
  Dockerfile
  tests/test_basic.py
Due: security-python, security-docker

fix: test_webui_dummy_modeの起動順序とプロセス終了を修正
  .gitlab-ci.yml
  Dockerfile
  tests/test_basic.py
Due: security-python, security-docker

Path conditions:
  security-python: any of: **/*.py, requirements.txt
  security-docker: any of: Dockerfile
  build-react: any of: react/**/*
  renovate: any of: renovate.json
