Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

deploy-controller:
  stage: deploy
  needs:
  - test-controller-regular
  - test-healthz-docker
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-actuator:
  stage: deploy
  needs:
  - test-actuator-regular
  - test-healthz-docker
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-webapp:
  stage: deploy
  needs:
  - test-webapp-docker
  - test-healthz-docker
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

deploy-webapp-demo:
  stage: deploy
  needs:
  - test-webapp-docker
  - test-healthz-docker
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  ...

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:35
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix: テストを追加 (作成中)
  tests/test_basic.py
Due: none

fix: リファクタリング (テストカバレッジ61%)
  app/cooler_controller.py
  app/unit_cooler.py
  lib/control.py
  lib/control_config.py
  lib/valve.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング (テストカバレッジ86%)
  .coveragerc
  .github/workflows/regression.yaml
  app/unit_cooler.py
  lib/webapp_log_proxy.py
  tests/test_basic.py
Due: deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: ライブラリを更新
  lib/logger.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: サンプル設定ファイルを指定
  tests/test_basic.py
Due: none

fix: アプリログが空の状態でもテストが通るようにした
  tests/test_basic.py
Due: none

fix: テストが終了しない問題に対応
  tests/test_basic.py
Due: none

fix: 不要なコードを削除
  tests/test_basic.py
Due: none

fix: bug
  tests/test_basic.py
Due: none

doc: テスト結果へのリンクを追加
  README.md
Due: none

fix: リファクタリング(カバレッジ88%)
  .coveragerc
  lib/actuator.py
  lib/control.py
  lib/sensor/ltc2874.py
  lib/work_log.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング(カバレッジ89%)
  tests/test_basic.py
Due: none

fix: リファクタリング (カバレッジ 91%)
  .coveragerc
  .github/workflows/regression.yaml
  lib/notify_slack.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング (カバレッジ 94%)
  .coveragerc
  app/unit_cooler.py
  app/webapp.py
  lib/control.py
  lib/logger.py
  lib/unit_cooler_info.py
  lib/valve.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング
  app/unit_cooler.py
  lib/control.py
  lib/webapp_log.py
  lib/work_log.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング (カバレッジ 95%)
  app/unit_cooler.py
  lib/control_pubsub.py
  lib/valve.py
  lib/webapp_event.py
  lib/webapp_log_proxy.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング (カバレッジ 96%)
  lib/control_config.py
  lib/control_pubsub.py
  lib/sensor/ltc2874.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: リファクタリング
  app/cooler_controller.py
  app/unit_cooler.py
  lib/actuator.py
  lib/control.py
  lib/control_pubsub.py
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
  lib/valve.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テストを高速化
  app/cooler_controller.py
  app/unit_cooler.py
  lib/control.py
  lib/control_config.py
  lib/control_pubsub.py
  lib/logger.py
  lib/notify_slack.py
  lib/sensor/fd_q10c.py
  lib/webapp_event.py
  lib/work_log.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テストを改善
  tests/test_basic.py
Due: none

fix: テストを修正
  tests/test_basic.py
Due: none

fix: テストを改善
  src/healthz.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator

fix: リファクタリング
  app/cooler_controller.py
  app/unit_cooler.py
  app/webapp.py
  tests/test_basic.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: テストを改善 (カバレッジ 99%)
  app/unit_cooler.py
  tests/test_basic.py
Due: deploy-actuator

fix: コードを整理
  app/unit_cooler.py
  tests/test_basic.py
Due: deploy-actuator

doc: TODO を記載
  README.md
Due: none

fix: リファクタリング
  tests/test_basic.py
Due: none

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: コントローラのテスト時にプロキシを動作させないようにした
  .gitlab-ci.yml
  app/cooler_controller.py
Due: deploy-controller

fix: ログを事前に取得
  .gitlab-ci.yml
Due: none

fix: バージョンを更新
  .github/workflows/regression.yaml
Due: none

chore(deps): update node.js to v20.5
  .gitlab-ci.yml
Due: none

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json
