Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: 不要なコードを削除
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: コードを整理
  app/webapp.py
Due: deploy-webapp

fix: Last-Modified をつけるようにした
  lib/webapp_log.py
Due: deploy-webapp

fix: ログがない時の表示を変更
  react/src/components/Log/Log.js
Due: deploy-webapp

fix: ログのテストを追加
  test/test_basic.py
Due: none

fix: bug
  react/src/components/Log/Log.js
Due: deploy-webapp

style: レイアウトを微修正
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/Sensor/Sensor.js
Due: deploy-webapp

fix: レイアウトを微修正
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/Sensor/Sensor.js
Due: deploy-webapp

fix: ライブラリを更新
  lib/webapp_log.py
Due: deploy-webapp

fix: ログを表示する Web サーバを追加
  app/unit_cooler.py
  app/webapp.py
Due: deploy-actuator, deploy-webapp

fix: レイアウトを微修正
  react/src/App.js
  react/src/components/Sensor/Sensor.js
Due: deploy-webapp

fix: 更新間隔を変更
  react/src/App.js
Due: deploy-webapp

fix: ログを中継
  Dockerfile
  app/unit_cooler.py
  app/webapp.py
  lib/webapp_log_proxy.py
  react/src/lib/util.js
Due: deploy-actuator, deploy-webapp

fix: 例外処理を追加
  config.example.yaml
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: actuator のテストが通るように修正
  .gitlab-ci.yml
  app/unit_cooler.py
Due: deploy-actuator

fix: typo
  .gitlab-ci.yml
Due: none

fix: ヘッダのみ表示に変更
  .gitlab-ci.yml
Due: none

fix: GitLab デバッグ
  .gitlab-ci.yml
Due: none

fix: GitLab デバッグ用の一時設定を戻した
  .gitlab-ci.yml
Due: none

fix: ログのテストに対応
  .gitlab-ci.yml
  app/unit_cooler.py
  app/webapp.py
  config.example.yaml
Due: deploy-actuator, deploy-webapp

fix: テストのためのコントローラを立ち上げるようにした
  .gitlab-ci.yml
Due: none

fix: コンテナ名に置換
  .gitlab-ci.yml
Due: none

fix: GitLab CI デバッグ
  .gitlab-ci.yml
Due: none

fix: 名前引きできなかったので元に戻した
  .gitlab-ci.yml
Due: none

fix: デバッグ用の記載を修正
  .gitlab-ci.yml
Due: none

fix: bug
  .gitlab-ci.yml
Due: none

fix: 自動デプロイを復活
  .gitlab-ci.yml
Due: none

fix: bug
  lib/control.py
  lib/unit_cooler_info.py
  lib/valve.py
  lib/webapp_log.py
  lib/work_log.py
Due: deploy-actuator, deploy-webapp

fix: コードを整理
  app/unit_cooler.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  lib/work_log.py
  react/src/components/Log/Log.js
Due: deploy-actuator, deploy-webapp

fix: コードを整理
  app/webapp.py
  lib/valve.py
Due: deploy-actuator, deploy-webapp

fix: bug
  lib/valve.py
Due: deploy-actuator, deploy-webapp

fix: ログのキャッシュを無効化
  lib/webapp_log.py
  lib/webapp_log_proxy.py
Due: deploy-webapp

fix: デモの時には古いログを見せるようにした
  lib/webapp_log_proxy.py
Due: deploy-webapp
