Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator

deploy-controller:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-controller

deploy-actuator:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-actuator

fix: 色を薄くした
  react/public/wall.png
Due: none

fix: ログを抑制
  lib/control_pubsub.py
Due: deploy-controller

fix: アクセスログを抑制
  app/webapp.py
Due: none

fix: typo
  react/src/components/CoolingMode/CoolingMode.js
Due: none

fix: ログを抑制
  app/webapp.py
  lib/unit_cooler_info.py
Due: none

fix: bug
  .gitlab-ci.yml
  app/unit_cooler.py
  app/webapp.py
  src/healthz.py
Due: deploy-actuator

fix: 改善
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

fix: レイアウトを微調整
  .gitlab-ci.yml
  react/src/App.css
  test/conftest.py
Due: none

feat: Web UI のテストを追加
  react/src/App.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
  react/src/components/Sensor/Sensor.js
  react/src/components/Watering/Watering.js
  test/test_basic.py
Due: none

fix: テストを追加
  .gitlab-ci.yml
  Dockerfile
Due: none

fix: Web UI の起動し忘れを修正
  .gitlab-ci.yml
Due: none

fix: typo
  .gitlab-ci.yml
Due: none

fix: レイアウトを微修正
  react/src/App.css
Due: none

fix: GitLab CI デバッグ
  .gitlab-ci.yml
Due: none

fix: bug
  .gitlab-ci.yml
Due: none

fix: 設定を修正
  .gitlab-ci.yml
  config.example.yaml
Due: none

fix: Web UI への初回アクセスでも冷却モードがすぐに表示できるようにした
  app/webapp.py
  lib/unit_cooler_info.py
Due: none

fix: リファクタリング
  Dockerfile
  app/unit_cooler.py
  lib/valve.py
  requirements.txt
Due: deploy-actuator

fix: bug
  app/cooler_controller.py
Due: deploy-controller

fix: リファクタリング
  lib/control_config.py
  lib/valve.py
  lib/valve_state.py
Due: none

fix: bug
  app/webapp.py
Due: none

fix: for debug
  lib/webapp_base.py
Due: none

fix: 電磁弁や流量計に問題が発生している場合に Web UI で通知するようにした
  app/unit_cooler.py
  config.example.yaml
  lib/unit_cooler_info.py
  react/src/App.js
Due: deploy-actuator

style: 整形
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
  react/src/components/Sensor/Sensor.js
  react/src/components/Watering/Watering.js
  react/src/index.css
  react/src/index.js
  react/src/lib/util.js
  react/src/logo.svg
  react/src/reportWebVitals.js
  react/src/setupTests.js
Due: none

style: 整形
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  config.example.yaml
  docker-compose.yml
  renovate.json
Due: none

style: 整形
  .pre-commit-config.yaml
  app/cooler_controller.py
  lib/control_config.py
  lib/valve.py
  src/healthz.py
Due: deploy-controller

fix: Docker in Docker に変更
  .gitlab-ci.yml
Due: none

fix: レースコンディション回避のため，ロックを追加
  lib/valve.py
Due: none

fix: 意味がない処理を一旦削除
  lib/unit_cooler_info.py
  react/src/App.js
Due: none

fix: 流量計がしばらく応答しない場合，電源を一旦落とすようにした．
  app/unit_cooler.py
  lib/valve.py
Due: deploy-actuator

fix: bug
  lib/ltc2874.py
Due: none

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: bug
  lib/valve.py
Due: none

style: レイアウトを調整
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/Sensor/Sensor.js
Due: none

fix: コードを整理
  .prettierrc.yaml
  lib/webapp_log.py
Due: none

style: 整形
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .prettierrc.yaml
  README.md
  config.example.yaml
  docker-compose.yml
  lib/unit_cooler_info.py
  react/package-lock.json
  react/package.json
  react/public/index.html
  react/public/manifest.json
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/components/AirConditioner/AirConditioner.js
  react/src/components/CoolingMode/CoolingMode.js
  react/src/components/Sensor/Sensor.js
  react/src/components/Watering/Watering.js
  react/src/index.css
  react/src/index.js
  react/src/lib/util.js
  react/src/reportWebVitals.js
  renovate.json
Due: none

chore(deps): update registry.green-rabbit.net:5000/kimata/local_playwright docker tag to v1323795
  .gitlab-ci.yml
Due: none

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py
  deploy-actuator: any of: app/unit_cooler.py, app/aircon.py, app/config.py, app/control_pubsub.py, app/fd_q10c.py, app/io_link.py, app/logger.py, app/ltc2874.py, app/notify_slack.py, app/sensor_data.py, app/valve.py
