Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo, renovate

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/valve_state.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control.py, lib/control_config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, lib/valve_state.py, lib/webapp_config.py, lib/webapp_base.py, lib/webapp_log.py, lib/webapp_event.py, lib/flask_util.py, lib/work_log.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  deploy-webapp-demo: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json

fix: テストの安定度を改善
  tests/test_basic.py
Due: none

fix: テストの安定度を改善
  pyproject.toml
  tests/test_basic.py
Due: none

fix: Poetry のキャッシュ設定を追加
  .gitlab-ci.yml
Due: none

fix: bug
  .gitlab-ci.yml
Due: none

fix: bug
  tests/test_basic.py
Due: none

fix: 依存関係を変更
  .gitlab-ci.yml
Due: none

fix: ログメッセージを追加
  app/unit_cooler.py
  lib/control_pubsub.py
  pyproject.toml
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: bug
  lib/sensor/ltc2874.py
  tests/test_basic.py
Due: none

fix: テストの安定性を改善
  app/cooler_controller.py
Due: deploy-controller

fix: bug
  app/cooler_controller.py
  lib/control_pubsub.py
Due: deploy-controller, deploy-actuator, deploy-webapp, deploy-webapp-demo

fix: ライブラリを追加
  pyproject.toml
Due: none

fix: 1行の文字数を変更
  .flake8
Due: none

fix: 周期を変更
  config.example.yaml
Due: none

fix: 使用ライブラリを変更
  pyproject.toml
Due: none

fix: bug
  react/src/components/History.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: typo
  Dockerfile
Due: none

fix: 余計なコードを削除
  Dockerfile
Due: none

doc: fix
  README.md
Due: none

fix: リンク先が間違っていたので修正
  react/src/App.tsx
Due: deploy-webapp, deploy-webapp-demo

fix: デバッグ用にメッセージを追加
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

chore(deps): update all non-major dependencies
  Dockerfile
  react/package-lock.json
Due: deploy-webapp, deploy-webapp-demo

fix: 依存関係を修正
  .gitlab-ci.yml
Due: none

fix: バージョンを戻した
  Dockerfile
Due: none

fix: バージョンを更新
  Dockerfile
Due: none
