Repository kimata/outdoor_unit_cooler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-controller, deploy-actuator, deploy-webapp, renovate

deploy-controller:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-controller

deploy-actuator:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-actuator

deploy-webapp:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/outdoor_unit_cooler:pod-rollout
  - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment unit-cooler-webapp

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:35
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix: bug
  lib/webapp_log.py
Due: deploy-webapp

fix: 1秒未満の間隔のログも正しい時系列で並ぶようにした
  lib/webapp_log.py
Due: deploy-webapp

fix: コードを整理
  lib/webapp_log.py
Due: deploy-webapp

doc: 記法を修正
  README.md
Due: none

fix: GitHub へのリンクを追加
  react/src/App.js
Due: deploy-webapp

fix: レイアウトを微修正
  react/src/App.js
Due: deploy-webapp

fix: アイコンを変更
  react/public/favicon.ico
  react/public/logo192.png
  react/public/logo512.png
Due: deploy-webapp

fix: テストの出力を変更
  .gitlab-ci.yml
  test/conftest.py
  test/test_basic.py
Due: none

fix: 散水量を増やした
  lib/control_config.py
Due: deploy-webapp

doc: コメントを追加
  lib/control_config.py
Due: deploy-webapp

fix: 高温時の冷却を強化
  lib/control_config.py
Due: deploy-webapp

fix: 夜間の冷却量を変更
  lib/control_config.py
Due: deploy-webapp

fix: 流量がある間はセンサーを OFF しないようにした
  app/unit_cooler.py
Due: deploy-actuator

fix: アイコンを変更
  react/public/logo192.png
  react/public/logo512.png
Due: deploy-webapp

fix: テストし易いように改変
  app/cooler_controller.py
Due: deploy-controller

fix: テストし易く改変
  app/unit_cooler.py
Due: deploy-actuator

fix: テストし易いように改変
  app/webapp.py
Due: deploy-webapp

fix: bug
  app/unit_cooler.py
Due: deploy-actuator

fix: テストし易くなるようにリファクタリング
  app/unit_cooler.py
  lib/actuator.py
Due: deploy-actuator, deploy-webapp

fix: テストし易くするためにリファクタリング
  app/unit_cooler.py
  lib/actuator.py
Due: deploy-actuator, deploy-webapp

doc: イレギュラーな形で import している理由を説明
  lib/actuator.py
Due: deploy-webapp

style: 長い行を改行
  .gitlab-ci.yml
Due: none

fix: bug
  app/unit_cooler.py
  lib/actuator.py
Due: deploy-actuator, deploy-webapp

fix: 名前を変更
  tests/test_playwright.py
Due: none

add
  pytest.ini
Due: none

fix
  .gitlab-ci.yml
Due: none

fix: テストで使用するイメージを更新
  .gitlab-ci.yml
Due: none

fix: GitLab デバッグ
  .gitlab-ci.yml
Due: none

fix
  tests/conftest.py
Due: none

fix: テストしやすくなるようにリファクタリング
  app/cooler_controller.py
  lib/control_pubsub.py
  pyproject.toml
  test/conftest.py
  test/test_basic.py
  tests/evidence/.gitkeep
Due: deploy-controller, deploy-actuator, deploy-webapp

fix: コードに合わせて修正
  .gitlab-ci.yml
Due: none

fix: bug
  app/cooler_controller.py
  lib/control_pubsub.py
Due: deploy-controller, deploy-actuator, deploy-webapp

fix: テストし易くなるようにリファクタリング
  app/cooler_controller.py
  app/unit_cooler.py
Due: deploy-controller, deploy-actuator

fix: テストを追加
  app/cooler_controller.py
  app/unit_cooler.py
  app/webapp.py
  lib/control.py
  lib/control_pubsub.py
Due: deploy-controller, deploy-actuator, deploy-webapp

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
Due: none

doc: 微修正
  README.md
  lib/sensor/fd_q10c.py
  lib/sensor/io_link.py
  lib/sensor/ltc2874.py
Due: none

fix: リファクタリングを行い，テストを追加
  app/cooler_controller.py
  app/unit_cooler.py
  lib/actuator.py
  lib/aircon.py
  lib/control.py
  lib/control_config.py
  lib/control_pubsub.py
  lib/sensor/fd_q10c.py
  lib/sensor/ltc2874.py
  lib/sensor_data.py
  lib/valve.py
  lib/webapp_event.py
  lib/webapp_log.py
  lib/webapp_log_proxy.py
  lib/work_log.py
  pyproject.toml
  tests/conftest.py
Due: deploy-controller, deploy-actuator, deploy-webapp

Path conditions:
  deploy-controller: any of: app/cooler_controller.py, lib/config.py, lib/control_pubsub.py, lib/logger.py, lib/notify_slack.py, lib/sensor_data.py, src/healthz.py
  deploy-actuator: any of: app/unit_cooler.py, lib/aircon.py, lib/config.py, lib/control_pubsub.py, lib/fd_q10c.py, lib/io_link.py, lib/logger.py, lib/ltc2874.py, lib/notify_slack.py, lib/sensor_data.py, lib/valve.py, src/healthz.py
  deploy-webapp: any of: react/**/*, app/webapp.py, lib/*
  renovate: any of: renovate.json
